'use strict'

const Schema = use('Schema')

class TwilioUserSchema extends Schema {
    up () {
        this.create('twilio_users', (table) => {
        table.increments()
        table.integer('user_id').unsigned().notNullable().unique()
        table.string('sid').notNullable()
        table.timestamps()
    })
}

    down () {
        this.drop('twilio_users')
    }
}

module.exports = TwilioUserSchema
