'use strict'

const Schema = use('Schema')

class TwilioUserChat extends Schema {
    up () {
        this.create('twilio_user_chats', (table) => {
            table.increments()
            table.integer('user_id').unsigned().notNullable()
            table.integer('chat_id').unsigned().notNullable()
            table.timestamps()
        })
    }

    down () {
        this.drop('twilio_users')
    }
}

module.exports = TwilioUserChat
