'use strict'

const Schema = use('Schema')

class TwilioInvites extends Schema {
    up () {
        this.create('twilio_invites', (table) => {
            table.increments()
            table.integer('user_id').notNullable()
            table.integer('chat_id').notNullable()
            table.timestamps()
        })
    }

    down () {
        this.drop('twilio_users')
    }
}

module.exports = TwilioInvites
